body {
    background-color: #fff;
    color: #000;
}

#mainBoxAjustes {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px;
    margin-top: 10%;
}

#mainBoxAjustes > * {
    margin-bottom: 20px; /* Agrega espacio vertical entre los elementos */
}

nav.menu {
    background-color: #ffdda7;
    margin-right: 20px; /* Margen hacia la derecha */
    padding: 10px; /* Aumentar el tamaño */
    margin-bottom: 10px; /* Separación entre elementos */
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode nav.menu {
    background-color: #ffdda7;
    color: #ff7f00 !important;
}

.dark-mode .menu a {
    color: #ff7f00 !important;
}

.dark-mode .menu a:hover {
    background-color: #ff7f00;
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 16px;
}

  footer input[type="text"] {
    display: none;
  }